
@{
    ViewBag.Title = "In_Month";
    Layout = "~/Views/NhaCungCap/Lay_out_DoanhThu.cshtml";
}

<div class="col-lg-6 col-xs-12 col-md-6 col-sm-12" style="padding:20px;">
    <h1 style="text-align:center">Doanh Thu Theo Từng Tháng</h1>
    <div id="piechart"></div>
</div>
<div class="col-lg-6 col-xs-12 col-md-6 col-sm-12" style="padding:20px;">
    <div style="padding:3%;">
        <input type="submit" class="btn btn-success" value="In ra excel" style="margin:2%; width:15%;" />
        <input type="submit" class="btn btn-success" value="In ra Work" style="margin:2%; width:15%;" />
        <select id="PhanTrangChonNam" style="margin:2%; width:25%;" class="btn btn-success">
            <option>Hiển Thị số Bản Ghi</option>
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>50</option>
            <option>90</option>
            <option>Tất Cả</option>
        </select>
        <select id="ChonThang" style="margin:2%; width:15%;" class="btn btn-success">
            <option>Năm 1</option>
            <option>Năm 2</option>
            <option>Năm 3</option>

        </select>
    </div>
    <table border="1" cellpadding="5" cellspacing="5" width="100%">
        <tr style="text-align:center;">
            <td>Tháng</td>
            <td>Số chiếc Trong Tháng (Chiếc)</td>
            <td>Đã bán Trong Tháng (Chiếc)</td>
            <td>Tăng Trưởng (%)</td>
            <td>Doanh Thu Tháng (VNĐ)</td>
            <td>Tổng Tiền Năm (VNĐ)</td>
            <td>Tất Cả đã bán (Chiếc)</td>
        </tr>
        <tr style="text-align:center;">
            <td>1</td>
            <td>12</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>123</td>
            <td>33</td>
        </tr>
    </table>
</div>
<hr />
<script type="text/javascript">
    // googlae chart1  bieu do hinh tron cho cac thang do la doanh thu ban san pham ti le tang truong
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Năm', 'Doanh Thu'],
            ['Năm 1', 30],
            ['Năm 2', 30],
            ['Năm 3', 10],
            ['Năm 4', 10],
            ['Năm 5', 10],
            ['Năm 6', 10],

        ]);

        // Optional; add a title and set the width and height of the chart
        var options = { 'title': '', 'width': 800, 'height': 600 };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }

</script>

