@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/NhaCungCap/layoutNCC.cshtml";
}

    <!-- about -->
    <div class="jarallax about" id="about">
        <div class="about-bar-hainam-agile">
            <h3 class="hainam_head hainam_head1">about</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Text Modal Window Nullam at volutpat ipsum. Consectetur adipi lorem ipsum dolor sit amet, Nullam nec posuere ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut metus sit amet magna.</p>
        </div>
    </div>
    <!-- //about-bottom -->
    <!-- Modal2 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Fine Shape</h4>
                    <img src="~/Content/NCC/all/images/banner.jpg" alt=" " class="img-responsive">
                    <h5>Start the fitness and get into shape today!</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal2 -->
    <!-- services -->
    <div class="services" id="classes">
        <div class="container">
            <h3 class="hainam_head hainam_head1">Special Classes</h3>
        </div>
        <div class="agileits_services_grids">
            <ul id="flexiselDemo1">
                <li>
                    <div class="agileits_services_grid" style="text-align:center;">
                        <img src="~/Content/NCC/all/images/6.jpg" style="width:100%;" />
                        <h5 style="padding-top:2%;">Trx Workout</h5>
                        <p>Vivamus malesuada pellentesque nunc id condimentum.</p>
                        <input type="submit" class="btn btn-danger" value="Xem"/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container">
            <h3 class="hainam_head hainam_head1">Sản Phẩm</h3>
        </div>
        <div class="agileits_services_grids_bottom">
            <div class="container">
                <div class="col-md-4 agileits_service_grid_btm_left">
                    <div class="agileits_service_grid_btm_left1">
                        <img src="~/Content/NCC/all/images/4.jpg" alt=" " class="img-responsive" />
                        <div class="agileits_service_grid_btm_left2">
                            <h5>Pilates</h5>
                            <P>dsjfghlasdfgba;i'</P>
                            <p>1 hr  <span>$</span>30.00</p>
                            <input type="submit" class="btn btn-danger" value="Xem"/>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //services -->
