
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loi</title>
</head>
<body>
    <div style="background: -moz-radial-gradient(top center, ellipse farthest-corner, #f73c3c 91%, #000000 32%);">
        <h1>404</h1>
        <input type="submit" value="Home" />
    </div>
</body>
</html>